@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
    <!-- top row of the main page-->
        <div class="top-row px-4">
        <button class="button_1" href="https://learn.microsoft.com/aspnet/core/"> About </button>
         <!--   <a href="" target="_blank">About</a>-->
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
